{% extends "base.html" %}
{% block title %}CRM - Hồ sơ Khách hàng{% endblock %}
{% block page_title %}Hồ sơ Khách hàng{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/crm_guest_detail.css') }}?v=20260512-palette-sidebar-v3">
{% endblock %}

{% block content %}
<div id="gd-shell" class="gd-shell" x-data="guestDetail()" x-init="init()" data-guest-id="{{ guest_id }}" data-disable-ota-polling="true">

  {# Header & Tabs #}
  {% include 'pms/partials/crm_guest_detail/header_tabs.html' %}

  {# Loading Skeleton #}
  {% include 'pms/partials/crm_guest_detail/skeleton.html' %}

  {# Main body #}
  <template x-if="!loading && guest">
    <div class="gd-body">

      {# LEFT SIDEBAR #}
      {% include 'pms/partials/crm_guest_detail/sidebar.html' %}

      {# RIGHT CONTENT #}
      <div class="gd-content">

        {# TAB: Overview #}
        {% include 'pms/partials/crm_guest_detail/tab_overview.html' %}

        {# TAB: Stays #}
        {% include 'pms/partials/crm_guest_detail/tab_stays.html' %}

        {# TAB: Services #}
        {% include 'pms/partials/crm_guest_detail/tab_services.html' %}

        {# TAB: Payments #}
        {% include 'pms/partials/crm_guest_detail/tab_payments.html' %}

        {# TAB: Co-guests #}
        {% include 'pms/partials/crm_guest_detail/tab_coguests.html' %}

      </div>{# /gd-content #}
    </div>{# /gd-body #}
  </template>

</div>
{% endblock %}

{% block scripts %}
<script>
  // Read guest_id from DOM data attribute (set by Jinja2, parsed correctly by browser)
  const GUEST_ID = parseInt(document.getElementById('gd-shell').dataset.guestId) || 0;
</script>
<script src="{{ url_for('static', path='/js/pms/crm_guest_detail.js') }}"></script>
{% endblock %}
