{% extends "base.html" %}
{% block title %}PMS - Thiết lập{% endblock %}
{% block page_title %}{% if pms_setup_tab == 'rooms' %}Thiết lập Sơ đồ Lưu trú{% else %}Thiết lập Loại Phòng{% endif %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/pms/room_setup.css">
{% endblock %}

{% block content %}
{% include "pms/partials/room_setup_panel.html" %}
{% endblock %}

{% block scripts %}
<script>
window.PMS_ROOM_SETUP_BOOT = {
  initialTab: {{ (pms_setup_tab or 'types')|tojson }}
};
</script>
<script src="/static/js/pms/room_setup.js"></script>
{% endblock %}
